[submodule "public"]
	path = public
	url = https://github.com/johnandersen777/johnandersen777.github.io
	branch = public
[submodule "themes/lynx"]
	path = themes/lynx
	url = https://github.com/johnandersen777/hugo-theme-lynx.git
	branch = master
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/johnandersen777/hugo-cactus-theme
[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
